.products{
    font-size: 32px;
    text-align: center;
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.products .header{
    display: grid;
    font-size: 25px;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    background-color: #48B7A8;
    border-radius: 10px;
    position: sticky;
    top: 70px;
    height: 50px;
    z-index: 50;
}
.products .background{
    position: fixed;
    top: 60px;
    left: -10px;
    width: calc(100% - 90px);
    height: 70px;
    background-color: #FFFFFF;
    z-index: 31;
}
.products .item{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    background-color: #48B7A8;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.products .item:hover{
    background-color: #328076;
}